conda install matplotlib
conda install numpy
conda install -c pytorch torchvision cudatoolkit pytorch
conda install cython
# extra
conda install pandas
# for a* huge open nodes install...
pip install elasticsearch-curator
# seguire:
# https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html
#
# docker pull docker.elastic.co/elasticsearch/elasticsearch:7.10.2
# docker run -p 9200:9200 -p 9300:9300 -e "discovery.type=single-node" docker.elastic.co/elasticsearch/elasticsearch:7.10.2